/.bash_history
/.condarc
/.emulator_console_auth_token
/.gitconfig
/.lesshst
/.ms-ad
/.vscode
/10.21.py
/3D Objects
/AppData
/Brain tumor detection using Pridictive Model.ipynb
/Canada
/Downloads
/F-1 VISA STEMP.jpeg
/Favorites
/H1B INFO.txt
/IdeaProjects
/Music
/my-react-app
/myworld
/names.csv
/names.cvs.txt
/names.txt
/NTUSER.DAT
/ntuser.dat.LOG1
/ntuser.dat.LOG2
/NTUSER.DAT{9e2e3d17-a9d7-11ed-a576-f60933707236}.TM.blf
/NTUSER.DAT{9e2e3d17-a9d7-11ed-a576-f60933707236}.TMContainer00000000000000000001.regtrans-ms
/NTUSER.DAT{9e2e3d17-a9d7-11ed-a576-f60933707236}.TMContainer00000000000000000002.regtrans-ms
/ntuser.ini
/Saved Games
/Searches
/Tracing
/Videos
/VirtualBox VMs
/OneDrive
/Recent
/Application Data